<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/k20_170530_db/src/k20_170530_db/k20_170601_score.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="k20_170530_db.k20_170601_score"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="k20_170530_db"/>
</launchConfiguration>
